// Navigation Styles here



    .navholder{ 
       
        max-width:100%;
        display: flex;
        flex-direction:row;
        justify-content: center;
        border-bottom: 2px solid @silver ;
        border-style: dashed;
        
        
    
}
    
    


.topnav{
    padding-top: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
    width:800px;

    @media(max-width:@mobileBreakpoint){
        display:flex;
        align-items: center;
            flex-direction: column;
    }

}
        
        .clicknav{
            width: 310px;
            justify-content: space-around;
            font-size: 1.6rem;
            display:flex;
            flex-direction: row;
            
         
            

            @media  (max-width:@mobileBreakpoint){
                padding-left:0px;
                margin:0px;
                display:flex;
                flex-direction: row;
                width:100%;
                justify-content: center;
                justify-content: space-around;
                padding-bottom: 10px;
                padding-top: 0px;
                
            }
    
        }
        .sitename{
           
            padding-bottom: 20px;
            @media (max-width:@mobileBreakpoint){
                
                display:flex;
                flex-direction: row;
                justify-content: center;
            }
        }
    
